{%extends "auth/base.html"%}
{% load crispy_forms_tags %}
{%block content%}
<div class="container">
    <div class="card mb-4">
        <div class="content-section" style="background-color: grey;">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom- mb-4">Login
                    </legend>
                    {{form|crispy}}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-secondary" type="submit"
                        style="font-family: 'Kelly Slab', cursive; color: black; ">Login</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted" style=" font-family: 'Kelly Slab', cursive;  color: white; ">
                    Already Have an Account? <a class="ml-2" href="{% url 'register' %}" style="color: black;">Sign Up
                        Now</a>
                </small>
            </div>
        </div>
    </div>
</div>
{%endblock content %}